<!DOCTYPE html>
<html lang="en" ng-app="report">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/images/statistic-28x28.png"/>
    <!-- CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Data Table-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

    <!-- JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://www.google.com/uds/modules/gviz/gviz-api.js"></script>
    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>

    <script type="text/javascript" src="js/Data.js"></script>

</head>
<body>
<h3>:: Report</h3>
<div ng-controller="Controller">
    <table class='table table-striped table-bordered table-condensed' cellspacing='0' width='80%'>
        <thred>
            <tr>
                <th><input type="text" class="form-control" placeholder="Filter..." ng-model="txtFilter"/>
            </tr>
        </thred>
        <tr><td>
            <table cellspacing='0' width='100%'>
                <thead>
                    <tr><th colspan="3">:: service</th> </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" google-chart chart="inAccept" title="resume"
                            style="border:1px inset black;padding:0;width:400px" ></td>
                        <td google-chart chart="inService" title="service"
                            style="border:1px inset black;padding:0;width:400px"></td>
                        <td google-chart chart="inAcceptance" title="acceptance"
                            style="border:1px inset black;padding:0;width:400px"></td>
                    </tr>
                    <tr>
                        <td google-chart chart="inPending" title="pending"
                            style="border:1px inset black;padding:0;width:400px"></td>
                        <td google-chart chart="inClosed" title="closed"
                            style="border:1px inset black;padding:0;width:400px"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3">:: closed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" google-chart chart="byCodeOthers" title="Alteração em Código x Outros"
                            style="border:1px inset black;padding:0;width:400px" ></td>
                        <td google-chart chart="byApplication" title="Alteração em Código"
                            style="border:1px inset black;padding:0;width:400px"></td>
                        <td google-chart chart="bySolution" title="Outros"
                            style="border:1px inset black;padding:0;width:400px"></td>
                    </tr>
                    <tr>
                        <td google-chart chart="byVersionA" title="Alteração em Código x Versão"
                            style="border:1px inset black;padding:0;width:400px"></td>
                        <td google-chart chart="byVersionO" title="Outros x Versão"
                            style="border:1px inset black;padding:0;width:400px"></td>
                    </tr>
                    <tr>
                        <td colspan="3" google-chart chart="stockDown"
                            style="border:1px inset black;padding:0;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" google-chart chart="closedAndOpened"
                            style="border:1px inset black;padding:0;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" google-chart chart="byCountry"
                            style="border:1px inset black;padding:0;width:600px;height:440px;"></td>
                    </tr>
                </tbody>
            </table>
        </td></tr>
        <tr>
            <td>
                <table class='table table-striped table-bordered table-condensed'  cellspacing='0' width='100%'>
                    <thead>
                        <tr>
                            <th  ng-repeat="c in header track by $index" ng-if="c != 'summary'">{{c}}
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="f in list | filter: txtFilter as filtered" pog="{{refresh($index + 1)}}">
                        <td ng-repeat="c in f track by $index"  ng-if="$index != 4">
                            <div ng-switch on="$index">
                                <div ng-switch-when="0"><a href="http://tms-jira.net.com/browse/{{c}}" title="{{f[4]}}">{{c}}</a></div>
                                <div ng-switch-when="7"><div ng-repeat="v in c track by $index">{{v}}</div></div>
                                <div ng-switch-default >{{c}}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="js/EasyChart.js"></script>
<script type="text/javascript" src="js/Controller.js"></script>

</body>
</html>
