<!DOCTYPE html>
<html lang="en" ng-app="report">
<head>
    <meta charset="UTF-8">
    <title>report</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/statistic-28x28.png"/>
    <!-- CSS -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Data Table-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

    <!-- JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
    
    <style media="print">
.row {
    display:block;
}
.jumbotron {
    display:none;
}
    </style>
</head>
<body>
<div ng-controller="Controller">
    <div class="container">  <!-- style="display:none" ng-show="true" -->
        <div class="jumbotron">
            <h1>:: report</h1>
            <br>
            <p><input type="text" class="form-control" placeholder="Filter..." ng-model="txtFilter"/></p>
        </div>

        <div class="loading-spiner-holder" data-loading>
            <div class="loading-spiner"><img src="images/ajax-loader.gif"/></div>
        </div>
        <div ng-show="isVisible">
            <div class="row">
                <div class="col-sm-8">
                    <h3>:: resume</h3>
                    <div google-chart chart="inAccept"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5>:: service</h5>
                    <div google-chart chart="inService"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: acceptance</h5>
                    <div google-chart chart="inAcceptance"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: pending</h5>
                    <div google-chart chart="inPending"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: closed</h5>
                    <div google-chart chart="inClosed"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h3>:: alteração em código x outros</h3>
                    <div google-chart chart="byCodeOthers"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h5>:: alteração em código</h5>
                    <div google-chart chart="byApplication"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: alteração em código x versão</h5>
                    <div google-chart chart="byVersionA"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: outros</h5>
                    <div google-chart chart="bySolution"></div>
                </div>
                <div class="col-sm-3">
                    <h5>:: outros x versão</h5>
                    <div google-chart chart="byVersionO"></div>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <h5>:: stockdown</h5>
                    <div google-chart chart="stockDown"></div>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <h5>:: closed x opened</h5>
                    <div google-chart chart="closedAndOpened"></div>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <h5>:: tickets by country</h5>
                    <div google-chart chart="byCountry"></div>
                </div>
            </div>
            <div class="row">
                <table class='table table-striped table-bordered table-condensed' cellspacing='0' width='100%'>
                    <thead>
                    <tr>
                        <th ng-repeat="c in header track by $index" ng-if="c != 'summary'">{{c}}
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="f in list | filter: txtFilter as filtered">
                        <td ng-repeat="c in f track by $index" ng-if="$index != 4">
                            <div ng-switch on="$index">
                                <div ng-switch-when="0"><a href="http://tms-jira.net.com/browse/{{c}}" title="{{f[4]}}">{{c}}</a>
                                </div>
                                <div ng-switch-when="7">
                                    <div ng-repeat="v in c track by $index">{{v}}</div>
                                </div>
                                <div ng-switch-default>{{c}}</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/Data.js"></script>
<script type="text/javascript" src="js/EasyChart.js"></script>
<script type="text/javascript" src="js/Controller.js"></script>

</body>
</html>
